body{
    background-image:url('https://wallpapers.com/images/high/doctor-strange-emerge-from-portal-los1yxtqpk57vkqa.webp'),url('https://wallpapers.com/images/high/wanda-maximoff-avengers-endgame-t6oopd5b5l4jyyny.webp'),url('https://wallpapers.com/images/high/snapped-spider-man-4k-marvel-iphone-crmveatpe8uf5ptp.webp');
    background-size:35% 110%, 33% 110%, 33% 110%;
    background-position:0px 0px, 52% 0px, 100% 0px;
    background-repeat:no-repeat;
    
}

#comment_content{
    width:80%;
}

#title{
    font-size: 30px;
    
}
#content{
    font-size:15px; 
    padding-left: 10px;  
}

.post_form {
    padding: 30px;
    background-color: rgba(205, 195, 200, 0.941);
    border: 1px solid #3e0000;
    margin: 12vh auto 0 auto;
    width: 35vw;
    min-height: 700px;
    border-radius:20px
}
.content-box{
    margin-top: 8px;
    border : solid 2px rgb(0, 0, 0); 
    border-radius: 5px; 
    min-height: 130px;
}

.submit_btn {
    background: #d1e5f0ec;
    border-color: #000000;
    color: black;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    outline: none;
    width: 15%;
    padding: 0;
    margin-top: 10px;
    margin: 5px;
    cursor: pointer;
    
}

.buttons {
    margin-bottom:5px;
}

#comment_box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.comment_delete_btn {
    background: #d1e5f0ec;
    border-color: #000000;
    color: black;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    width: 42px;
    padding: 0;
    margin: 5px;
    cursor:pointer;
}

.comment_box {
    display: flex;
    align-items: row;
    
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 30px; 
    margin-right:10px; 
    cursor : pointer;
}

.comment{
    width:668px; 
    border-style:solid; 
    border-width:2px; 
    border-color:gray;  
    border-radius:10px; 
    margin-bottom:10px;  
    margin-top:10px;
    color: black;
}