body{
    background-image:url('https://wallpapers.com/images/high/doctor-strange-emerge-from-portal-los1yxtqpk57vkqa.webp'),url('https://wallpapers.com/images/high/wanda-maximoff-avengers-endgame-t6oopd5b5l4jyyny.webp'),url('https://wallpapers.com/images/high/snapped-spider-man-4k-marvel-iphone-crmveatpe8uf5ptp.webp');
    background-size:35% 110%, 33% 110%, 33% 110%;
    background-position:0px 0px, 52% 0px, 100% 0px;
    background-repeat:no-repeat;
    
}

#comment_content{
    width:80%;
}

#title{
    font-size: 30px;
    
}
#content{
    font-size:15px; 
    padding-left: 10px;  
}

.post_form {
    padding: 30px;
    background-color: rgba(205, 195, 200, 0.941);
    border: 1px solid #3e0000;
    margin: 12vh auto 0 auto;
    width: 35vw;
    min-height: 700px;
    border-radius:20px
}
.content-box{
    margin-top: 20px;
    border : solid 2px rgb(0, 0, 0); 
    border-radius: 5px; 
    min-height: 130px;
}

.submit_btn {
    background: #d1e5f0ec;
    border-color: #000000;
    color: black;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    outline: none;
    width: 15%;
    padding: 0;
    margin-top: 10px;
    margin: 5px;
    cursor: pointer;
    
}

.buttons {
    margin-bottom:5px;
}

#comment_box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.comment_delete_btn {
    background: #d1e5f0ec;
    border-color: #000000;
    color: black;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    width: 42px;
    padding: 0;
    margin: 5px;
    cursor:pointer;
}

.comment_box {
    display: flex;
    align-items: row;
    
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 30px; 
    margin-right:10px; 
    cursor : pointer;
    position: relative;
    left: 650px;
    bottom: 10px;
}

.comment{
    width:668px; 
    border-style:solid; 
    border-width:2px; 
    border-color:gray;  
    border-radius:10px; 
    margin-bottom:10px;  
    margin-top:10px;
    color: black;
}

.modal{
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);

    
}

.modal.show {
    display: block;
  }

.modal_body {
position: absolute;
top: 50%;
left: 50%;

width: 400px;
height: 500px;

padding: 40px;

text-align: center;

background-color: rgb(255, 255, 255);
border-radius: 10px;
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

transform: translateX(-50%) translateY(-50%);
}

.nav_1{
    position:relative;
    right: 10px;
    bottom: 27px;
    font-size: 27px;
}
.input_set{
text-align: left;
margin-top: 32px;
}

.modal_close:after{
    content:"\00d7"; 
    font-size:40pt;
    line-height:0px;
    cursor: pointer;
    
}
.modal_close {
    position:relative;
    float:right;
    display:absolute;
    width:50px;
    height:50px;
    text-align:center;
    left: 35px;
    bottom: 50px;
}
    
.input_set_label{
margin-top:30px;
}





